<!DOCTYPE html>
<html lang="es-AR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patitas Adopciones</title>  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>

    <header>
        <h1>Patitas Adopciones</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                <li><a href="#">Eventos</a></li>
                <li><a href="#nosotros">Sobre Nosotros</a></li>
                <li><a href="#contacto">Contacto</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% for event in events %}
        <h4>{{ event[1] }}</h4>  <!-- Nombre del evento -->
        <p>Fecha: {{ event[2] }}</p>  <!-- Formato de la fecha -->
        <p>Descripción: {{ event[3] }}</p>  <!-- Descripción -->
        <a href="/event?id={{ event[0] }}">Ver más</a>  <!-- Enlace al evento -->
        {% endfor %}
        
    </main>
    <footer>
        <p>&copy; 2024 Adopta un Amigo. Todos los derechos reservados. <a href="#">Política de privacidad</a></p>
        <p>Síguenos en <a href="#">Facebook</a> | <a href="#">Instagram</a> | <a href="#">Twitter</a></p>
    </footer>
    
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>