<!DOCTYPE html>
<html lang="es-AR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patitas Adopciones</title>  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/events.css') }}">
</head>
<body>
    <header>
        <div class="menu-toggle">
            <button id="DarkMode" class="mode-toggle">
                <i id="modeIcon" class="fas fa-sun"></i> <!-- Icono de sol por defecto -->
            </button>
            <h1>Patitas Adopciones</h1>
            <span>☰</span>
        </div>
        <nav>
            <ul class="menu">
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                <li><a href="{{url_for('panel_template.Panel')}}">Panel</a></li>
                <li><a href="{{ url_for('events_templates.events') }}">Eventos</a></li>
                <li><a href="{{url_for('nosotros')}}">Sobre Nosotros</a></li>
                <li><a href="{{url_for('contact')}}">Contacto</a></li>
                <li><a href="{{url_for('donations')}}">Donar</a></li>
                <li><a href="{{ url_for('logout') }}">Salir</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class = "event-container">
            <h2 id ="event-tittle">{{ event.name }}</h2>  <!-- Nombre del evento -->
            <p id="event-date">Fecha: {{ event.date }}</p>  <!-- Formato de la fecha -->
            <p id="event-description">{{ event.description | safe }}</p>  <!-- Descripción -->
            <p id="event-content">{{ event.content | safe }}</p>  <!-- Contenido -->
        </section>
        <section class="section" id="eventos">
            <h3>Otros eventos</h3>
            <div class="cards" id="eventos-cards">
                <!-- Aquí se inyectarán las tarjetas dinámicamente -->
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Adopta un Amigo. Todos los derechos reservados. <a href="#">Política de privacidad</a></p>
        <p>Síguenos en <a id="Facebook" href="#">Facebook</a> | <a href="#">Instagram</a> | <a href="#">Twitter</a></p>
    </footer>
    
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/load.js') }}"></script>
</body>
</html>