<!DOCTYPE html>
<html lang="es-AR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patitas Adopciones</title>  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <div class="menu-toggle">
            <button id="DarkMode" class="mode-toggle">
                <i id="modeIcon" class="fas fa-sun"></i> <!-- Icono de sol por defecto -->
            </button>
            <h1 id="tittle">Patitas Adopciones</h1>
            <p id="welcome">{{ user.name }}</p>
            <span>☰</span>
        </div>
        <nav>
            <ul class="menu">
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                <li><a href="{{url_for('panel_template.Panel')}}">Panel</a></li>
                <li><a href="{{ url_for('events_templates.events') }}">Eventos</a></li>
                <li><a href="{{url_for('nosotros')}}">Sobre Nosotros</a></li>
                <li><a href="{{url_for('contact')}}">Contacto</a></li>
                <li><a href="{{url_for('donations')}}">Donaciones</a></li>
                <li><a href="{{ url_for('logout') }}">Salir</a></li>
            </ul>
        </nav>
    </header>  
    <body>
        <main class="management">
            <div class="profile-container">
                <h2>Agregar nuevo usuario</h2>
                <section>
                </section>
                <form id="form" action="{{ url_for('user.create_user') }}" method="POST">
                    <div class="hidden-fields">
                    </div>
                    <div class="name-container">
                    <p>Nombre:</p>
                    <input type="text" name="name" placeholder="Nuevo nombre">
                    </div>
                    <div class="email-container">
                    <p>E-Mail:</p>
                    <input type="email" name="email" placeholder="Nuevo correo">
                    </div>
                    <div class="password-container">
                    <p>Contraseña:</p>
                    <input type="password" name="password" placeholder="Nueva contraseña">
                    </div>
                    <div class="role-container">
                        <p>Rango:</p>
                        <select name="role">
                            <option value="user">Usuario</option>
                            <option value="admin">Administrador</option>
                            <option value="volunteer">Moderador</option>
                        </select>
                    <div class="buttons-container">
                        <button type="submit">Guardar cambios</button>
                    </div>

                </form>
            </div>
        </main>
    </body>
<footer>
    <p>&copy; 2024 Adopta un Amigo. Todos los derechos reservados. <a href="#">Política de privacidad</a></p>
    <p>Síguenos en <a id="Facebook" href="#">Facebook</a> | <a id="Instagram" href="#">Instagram</a> | <a id="Twitter" href="#">Twitter</a></p>
</footer>
<script src="{{url_for('static', filename='js/user-manager.js')}}"></script>
<script src="{{ url_for('static', filename='js/validation.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
